.accent-details-menu {
  i {
    cursor: pointer;
  }
}

.accent-details-menu-content {
  position: absolute;
  right: 0;
  top: 10%;
  background: white;
  border-radius: 20px 0px 0px 20px;
  height: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
