@import "../../styles/colors";
.accent-details-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    cursor: pointer;
    margin-left: 1rem;
  }
}

.accent-details-menu-content {
  // background: white;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  // padding: 1rem;

  &-active {
    opacity: 1;
    visibility: visible;
  }
}
.accent-details-menu-link {
  i {
    color: #cacaca;
    margin: 0;
  }
}
.accent-details-menu-link-active {
  i {
    color: white;
  }
}
