@import "../../styles/typography";
@import "../../styles/colors";

.accent-details-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: white;
  grid-template-rows: auto 1fr;
  .accent-details-window-header {
    grid-template-columns: 1fr auto;
    padding: 1.8rem;
    align-items: center;
    background-color: darken($color-primary, 10%);
    .accent-details-window-header-text {
      @include body-text-mobile;
      font-weight: bold;
    }
  }
}

//Routes
.accent-details-window-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 4rem;
}
.accent-details-title {
  @include body-text-mobile;
  text-align: center;
  background-color: $color-primary;
  padding: 0.6rem 0;
}

.accent-details-content {
  padding: 0 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // height: 100%;
  // width: 100%;
}
