@import "../../../styles/colors";
.accent-details-content-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  .accent-details-home-link {
    color: #777;
    display: grid;
    grid-template-rows: 1fr 3fr;
    row-gap: 3rem;
    justify-items: center;
    i {
      transition: all 0.2s;
    }
    p {
      font-size: 2rem;
      color: black;
    }

    &:hover i {
      color: $color-primary;
    }
  }
}
