.accent-details-videos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column: 1/7;
  row-gap: 5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.accent-video-selected {
  grid-column: 1/-1;
  width: 100%;
  grid-row: 1/2;
  height: 50%;
}
.accent-videos-thumbnails {
  grid-column: 1/-1;
  grid-row: 2/3;
  align-self: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.accent-video-thumbnail {
  background-color: black;
  opacity: 0.2;
  cursor: pointer;

  // height: 50%;
  &.video-active {
    opacity: 1;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
