.accent-details-videos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content 1fr;
  grid-column: 1/7;
  row-gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.accent-video-selected {
  grid-column: 1/-1;
  width: 100%;
  grid-row: 1/2;
  height: 50%;
}
.accent-videos-thumbnails {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 120px));
}
.accent-video-thumbnail {
  background-color: black;
  opacity: 0.2;
  cursor: pointer;

  // height: 50%;
  &.video-active {
    opacity: 1;
  }
}
