.words-table {
  grid-column: 1/7;
  justify-self: center;
  background-color: white;
  border-radius: 0.2rem;
  color: black;
  height: 70%;
  width: 100%;
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));

  thead {
    font-size: calc(10px + 10 * ((100vw - 320px) / 680));
    font-weight: bold;
  }

  tr {
    &:nth-child(even) {
      background-color: rgb(214, 214, 214);
    }
  }
  td,
  th {
    vertical-align: middle;

    padding: 0.5rem;
  }
}
