<<<<<<< HEAD
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

// html {
//   font-size: 62.5% !important;
//   line-height: 1.5;
// }
// .app {
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   justify-content: stretch;
//   height: 100vh;
//   // width: 100vw;
//   font-family: "Montserrat", sans-serif;
// }

// .content {
//   height: 100%;
//   justify-self: stretch;
//   display: flex;
//   align-items: stretch;
//   justify-content: stretch;
// }

html,
body,
#root {
=======
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
html {
  font-size: 62.5% !important;
  line-height: 1.5;
}
html,
#root,
body {
  height: 100%;
  color: white;
}
.app {
  font-family: "Roboto", sans-serif;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.map {
>>>>>>> fixNew
  height: 100%;
}
