.accent-details-content {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 2rem;
}

.pagination {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  .active-page {
    &:hover {
      background-color: rgb(54, 54, 54);
    }
    background-color: rgb(54, 54, 54);
    a {
      color: white;
    }
  }
  li {
    background-color: rgb(240, 240, 240);
    border-radius: 0.5rem;
    padding: 1rem;
    // border: 1px solid black;
    gap: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: rgb(236, 236, 236);
    }
  }
}
.pagination a {
  color: black;
}

.words-table {
  &-head,
  th {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  &-body {
    &-word,
    td {
      padding: 0.5rem 0;
    }
  }
}
