.accent-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 100;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  border-radius: 24px;
  overflow: hidden;
  padding: 2rem;
  row-gap: 2rem;
  &-header {
    .accent-details-title {
      font-size: 3rem;
    }
  }
  &-nav {
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid black;

    .accent-details-link {
      color: black;
      background-color: white;
      padding: 1rem 2rem;
      // border-radius: 1rem;
      transition: all 0.2s;
      text-align: center;
      &:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
      }
      &:hover {
        background-color: black;
        color: white;
      }
      &.active {
        background-color: black;
        color: white;
      }
    }
  }

  &-content {
  }

  .accent-details-close {
    justify-self: start;
    padding: 1rem 2rem;

    border: 1px solid black;
    border-radius: 2rem;
    transition: all 0.2s;
    color: black;
    background-color: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
