.accent-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  // min-height: 8
  height: 80vh;
  z-index: 100;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  border-radius: 1rem;
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.75);

  &-content {
    width: 100%;
  }
  overflow: hidden;
  padding: 2rem;
  row-gap: 2rem;
  &-header {
    text-align: center;
    .accent-details-title {
      font-size: 3rem;
    }
  }
  &-nav {
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // column-gap: 2rem;
    // border-radius: 0.5rem;
    overflow: hidden;
    border-bottom: 1px solid rgb(236, 236, 236);

    .accent-details-link {
      color: black;
      background-color: white;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      // border-top-left-radius: 0.5rem;
      // border-top-right-radius: 0.5rem;
      transition: all 0.2s;
      text-align: center;
      &:not(:last-child) {
        border-right: 1px solid rgb(236, 236, 236);
      }
      &:hover {
        background-color: rgb(236, 236, 236);
        // color: white;
      }
      &.active {
        background-color: rgb(236, 236, 236);
        color: black;
      }
    }
  }

  &-content {
  }

  .accent-details-close {
    justify-self: start;
    padding: 1rem 2rem;

    border: 1px solid black;
    border-radius: 0.5rem;
    transition: all 0.2s;
    color: black;
    background-color: white;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
